@model HomeViewModel



    <h3>ButterCMS. Headless CMS you'll melt over</h3>
    <div class="card bg-gray-50 mb-5 rounded-lg index-cards">
        <div class="card-body bg-gray-50 mb-5 rounded-lg">
            <h1 class="card-title"><strong>Blog Engine</strong></h1>
            <h1 class="card-title text-primary" style="color: "><strong>You've got better things to do than building another blog.</strong></h1>
            <a class="btn btn-primary" asp-area="" asp-controller="Blog" asp-action="ListAllPosts">Preview integration</a>
            <a class="btn btn-outline-dark" href="https://buttercms.com/features/#flexiblecontentmodeling-blog-engine">Learn More</a>
        </div>
    </div>
    <div class="card bg-gray-50 mb-5 rounded-lg index-cards">
        <div class="card-body bg-gray-50 mb-5 rounded-lg index-cards">
            <h1 class="card-title"><strong>Pages</strong></h1>
            <h1 class="card-title text-primary"><strong>Build SEO landing pages, knowledge base, news articles, and more by using Page Types.</strong></h1>
            <a class="btn btn-primary" asp-controller="Page" asp-action="Index">Preview integration</a>
            <a class="btn btn-outline-dark" href="https://buttercms.com/features/#flexiblecontentmodeling-page-types">Learn More</a>
        </div>
    </div>