@model ButterCMS.Models.Post;
@{
    ViewBag.Title = Model.SeoTitle;
    ViewBag.Author = Model.Author;
}

<style>
    .img {
        max-height: 100%;
        max-width: 100%;
    }
</style>

<div class="col-xs-6">
    <a href="/" title="Go to Home Page"><i class="fas fa-arrow-left"></i> Back Home</a>
</div>



<!-- Post Headline Start -->
<div class="post-title">
    <h1>@Model.Title</h1>
</div>

<h2>@Model.Author.FirstName @Model.Author.LastName</h2>
<!-- Post Headline End -->
<!-- Post Detail Start -->

<!-- Post Detail End -->

    <div class="card-body" style="max-width: 100%; max-height: 100%;">
        @Html.Raw(Model.Body)
    </div>





